{% extends '::base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Micro Chat{% endblock %}

{% block body %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {% include ':default:micro_chat.html.twig' %}
    {% else %}
        <div class="alert alert-warning">
            <h4>Out of order</h4>
            <p>If you want to text here you must be logged !</p>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <script src="{{ asset('bundles/goswebsocket/js/vendor/autobahn.min.js') }}"></script>
        <script src="{{ asset('bundles/goswebsocket/js/gos_web_socket_client.js') }}"></script>
        <script src="{{ asset('bundles/app/js/micro_chat.js') }}"></script>
    {% endif %}
{% endblock %}