<div id="micro-chat-alert" class="hidden"></div>
<div id="micro-chat-spinner">
    <i class="fa fa-5x fa-spin fa-circle-o-notch"></i>
</div>
<div id="micro-chat-container" class="panel panel-default hidden">
    <div id="micro-chat-content" class="panel-body">

    </div>
    <div id="micro-chat-form-container" class="panel-footer">
        <form id="micro-chat-form" class="form-horizontal" autocomplete="off">
            <div class="input-group">
                <input id="micro-chat-input" type="text" name="message-content" class="form-control">
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-send"></span> Send
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>