<div id="micro-chat-container" class="panel panel-default">
    <div id="micro-chat-content" class="panel-body">

    </div>
    <div id="micro-chat-form" class="panel-footer">
        <form class="form-horizontal">
            <div class="input-group">
                <input type="text" name="message-content" class="form-control">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-primary">
                        <span class="glyphicon glyphicon-send"></span> Send
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>