imports:
    - { resource: parameters.yml }
    - { resource: security.yml }

framework:
    translator: { fallbacks: ["%locale%"] }
    secret: %secret%
    templating:
        engines: ['twig']
    assets:          ~
    form:            ~
    csrf_protection: ~
    session:
        handler_id:  ~

# GOSWebSocket Configuration
gos_web_socket:
    server:
        port: 8080
        host: localhost
        router:
            resources:
                - %kernel.root_dir%/config/topics_routing.yml

# Doctrine Configuration
doctrine:
    dbal:
        driver:   pdo_sqlite
        host:     "%database_host%"
        port:     "%database_port%"
        dbname:   "%database_name%"
        user:     "%database_user%"
        password: "%database_password%"
        charset:  UTF8
        path:     "%database_path%"

    orm:
        auto_generate_proxy_classes: "%kernel.debug%"
        naming_strategy: doctrine.orm.naming_strategy.underscore
        auto_mapping: true

# Swiftmailer Configuration
swiftmailer:
    transport: "%mailer_transport%"
    host:      "%mailer_host%"
    username:  "%mailer_user%"
    password:  "%mailer_password%"
    spool:     { type: memory }

# FOSUser Configuration
fos_user:
    db_driver: orm
    firewall_name: main
    user_class: AppBundle\Entity\User