#micro-chat-container {
    height: 90vh;
    position: relative;
    overflow: hidden;
}

#micro-chat-content {
    max-height: 90%;
    overflow-x: hidden;
    overflow-y: scroll;
}

#micro-chat-form-container {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#micro-chat-spinner {
    text-align: center;
}